
		<!--导航条-->
		<div class="header container">
			<div class="row">
				<h1 class="logo pull-left"><a href="store.php">logo</a></h1>				
				<div class="icons nav pull-right">
					<a href="javascript:;" class="hidden-xs"><span class="glyphicon glyphicon-search"></span></a>
					<div class="shopAll">
						<a href="car.php"><span class="shopCart glyphicon glyphicon-shopping-cart"></span></a>
						<div class="shopMarket" style="display: none;">
							<h2>您的购物车里没有商品</h2>
						</div>
					</div>
					<div class="userAll">						
						<a href="<?php if(!isset($_SESSION)) {session_start();} 
						if(isset($_SESSION['userId'])&&isset($_SESSION['userName'])) echo 'userOrder.php'; else echo './login.php'; ?>"><span class="glyphicon glyphicon-user"></span></a>
						<div class="userOptions" style="display: none;">
							<ul>
								<a href="userOrder.php"><li>我的订单</li></a>
								<a href="../api/userLogoutApi.php"><li>退出</li></a>
							</ul>
						</div>
					</div>
					<a href="javascript:;" style="display: none;"><span class="glyphicon glyphicon-align-justify visible-xs-inline-block"></span></a>
				</div>				
				<div class="clearfix visible-xs"></div>				
				<nav class="nav menu">
					<div class="drow-menu">
						<ul class="menu-ul">
							<li><a href="detail.php?id=7">OnePlus5</a></li>
							<li><a href="store.php">商城</a></li>
							<li><a href="service.php">服务</a></li>
						</ul>
						<!-- <div class="showMenu" style="display: none;">
							<span class="spanFont glyphicon glyphicon-chevron-up"></span>
						</div> -->
						<form class="search" style="position: absolute;top:80px;right: 0;">
							<input id="search-input"  type="text" placeholder="搜索您的商品名称" class="col-xs-11" style="float: right;width: 200px;padding:4px 22px;" />
							<i class="glyphicon glyphicon-search" class="col-xs-1" style="line-height: 30px;vertical-align: middle;position: absolute;right: 180px;color: #666;"></i>
						</form>
					</div>	
				</nav>
			</div>	
		</div>	
		<div class="Reapt" style="display: none;"></div>		
		<script type="text/javascript">
			$(function () {
				var carHasGood="-1";
				$.post("../api/carApi.php?act=check",function(data){
					carHasGood=data;
				},'json')
				
            	$(".hidden-xs").click(function(){
            		$(".search").slideToggle(100);
            	});
		        $(".shopAll").hover(function () {
		        	if(carHasGood==0)
		        	$(".shopMarket").fadeIn(100);
		        	}, function () {
		        	if(carHasGood==0)
		        	$(".shopMarket").fadeOut(100);
		    	});
		    	// 鼠标移动到list的div上的时候里面的div不会被隐藏
		    	$(".shopMarket").hover(function () {
		    		if(carHasGood==0)
		       		$(".shopMarket").show();
		       	 	}, function () {
		       	 	if(carHasGood==0)
		        	$(".shopMarket").fadeOut(100);
		    	});


				$(".glyphicon-align-justify").click(function(){
					if(($(".header nav").is(":hidden")) && ($(".search").is(":hidden"))){
						$(".menu-ul").show();
						$(".search").show();
						$(".showMenu").hide();
						$(".header nav").slideDown();
//						$("body").css("position","fixed");
						$("body").css("overflow","hidden");
						$(".Reapt").show();
					}
					else{
						$(".header nav").slideUp();
						$(".Reapt").hide();
						$("body").css("overflow","initial");
					}	
				});	
				$(".search").click(function(){
					$(".spanFont").removeClass("glyphicon-chevron-down");
					$(".spanFont").addClass("glyphicon-chevron-up");
					$(".showMenu").css("display","block");
					//$(".menu-ul").slideUp();					
				});
				$(".showMenu").click(function(){
					$(".spanFont").toggleClass("glyphicon-chevron-up");
	 				$(".spanFont").toggleClass("glyphicon-chevron-down");
	 				$(".showMenu").delay(200).hide(0);
					$(".menu-ul").slideDown();
				});

				$("#search-input").bind('keypress',function(event){ 
			         if(event.keyCode == "13")    
			         {
			             window.location.href="./search.php?key="+$('#search-input').val();
			             return false;
			         }
			     });
			});
		</script>